.collapseBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  border-radius: 10px;
  border: #ff6060;
  height: 75px;
  padding: 0 20px;
  width: 100%;
  margin-top: 50px;
}

span {
  display: block;
}

.title {
  color: #fff;
  font-size: 40px;
}

.textContainer {
  background-color: #f6f6f6;
  padding: 25px 20px 30px 20px;
  margin-bottom: 20px;
}

.collapseTxt {
  color: #ff6060;
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.icon {
  color: #fff;
  font-size: 30px;
}
