@import "../../utils/style/colors.scss";

.footerContainer {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.logo {
  width: 122px;
  height: 40px;
  position: relative;
  top: 60px;
}

.notice {
  color: $text-color;
  font-size: 16px;
  position: relative;
  top: 69px;
  margin-bottom: 90px;
}

@media screen and (max-width: 767px) {
  .notice {
    font-size: 17px;
  }
}
