.collapseContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.apptInfosContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.apptTitle {
  margin-bottom: 30px;
}

.equipmentsList {
  display: flex;
  flex-direction: column;
}

.appartmentName,
.location {
  font-weight: normal;
  color: #ff6060;
}

.appartmentName {
  font-size: 50px;
  margin: 0;
}

.location {
  font-size: 35px;
  margin: 5px 0 35px 0;
}

.hostInfos {
  display: flex;
  flex-direction: row;
}

.hostName {
  font-size: 40px;
  color: #ff6060;
  position: relative;
  right: 20px;
}

.hostPicture {
  border-radius: 50%;
}

.collapseTxt {
  color: #ff6060;
  font-size: 35px;
  margin: 0;
  padding: 10px 0;
  list-style: none;
}

.apptTagsContainer {
  display: flex;
  flex-direction: row;
}

.tags {
  background-color: #ff6060;
  color: #fff;
  font-size: 31px;
  margin-right: 30px;
  padding: 15px 50px;
  border-radius: 40px;
}
