@import "../../utils/style/colors.scss";

.apptInfosContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.apptTitle {
  margin-bottom: 30px;
}

.apptName {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  color: $primary-color;
}

.location {
  font-size: 35px;
  margin: 5px 0 10px 0;
  color: $primary-color;
}

.hostInfos {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
}

.hostName {
  font-size: 35px;
  color: $primary-color;
  position: relative;
  right: 20px;
  margin: 0;
  width: 42%;
  text-align: right;
  font-weight: 500;
}

.hostPicture {
  border-radius: 50%;
}

.equipmentsCollapse {
  display: flex;
  flex-direction: column;
}

.collapseContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;
}

.collapseTxt {
  color: $primary-color;
  font-size: 18px;
  margin: 0;
  padding: 10px 0;
  list-style: none;
}

.apptTagsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags {
  background-color: $primary-color;
  color: $text-color;
  font-size: 26px;
  margin-right: 12px;
  padding: 14px 26px;
  border-radius: 25px;
}

.equipList {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 768px) and (max-width: 1250px) and (orientation: portrait) {
  .apptInfosContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .apptName {
    font-size: 40px;
  }

  .collapseContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .hostInfosContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .hostName {
    font-size: 30px;
    color: $primary-color;
    position: relative;
    right: 20px;
    margin: 0;
    width: 45%;
    text-align: right;
  }

  .hostInfos {
    justify-content: flex-end;
  }

  .hostName {
    font-size: 30px;
    right: 5%;
  }
  .hostPicture {
    height: 75px;
  }

  .tags {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .apptInfosContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .apptTitle {
    margin-bottom: 5px;
  }

  .collapseContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .collapseTxt {
    font-size: 16px;
  }

  .hostInfosContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .hostInfos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .hostName {
    font-size: 14px;
    right: 7px;
  }
  .hostPicture {
    width: 45px;
  }

  .location {
    font-size: 15px;
    font-weight: 600;
  }

  .tags {
    font-size: 11px;
    font-weight: 500;
    border-radius: 7px;
    margin-right: 10px;
    padding: 10px 23px;
  }
  .apptName {
    font-size: 23px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .collapseTxt {
    font-size: 25px;
  }
}
