.slideshow {
  width: 100%;
  height: 800px;
  position: relative;
  margin: 46px 0;

  & .slideshowSlide {
    border-radius: 30px;
    width: 100%;
    height: 800px;
    object-fit: cover;
  }
  & .slideshowInactive {
    opacity: 0.7;
  }

  & .slideshowActive {
    opacity: 1;
    transition: opacity 0.2s ease-in;
    position: relative;

    & .slideshowPagination {
      position: absolute;
      bottom: 30px;
      width: 50px;
      left: calc(50% - 20px);
      font-size: 35px;
      font-weight: 500;
      color: #fff;
    }
  }

  & .arrow {
    width: 95px;
    height: 120px;
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 1;
  }

  & .left {
    left: 2%;
  }

  & .right {
    right: 2%;
  }

  & .none {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  /* Styles spécifiques pour les petits écrans (mobiles) */
  .slideshow {
    height: 550px;
    & .slideshowSlide {
      height: 550px;
    }

    & .arrow {
      top: 40%;
    }
  }

  .slideshowPagination {
    display: none;
  }
}
